{% extends "gaming/header.html" %}
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Error 404</title>
</head>
{% block content %}
<body style="background: var(--bs-dark);">
    <div>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_u1xuufn3.json"  background="transparent"  speed="1"  style="width: 70; height: 70;"  loop  autoplay></lottie-player>
    </div>
</body>
{% endblock %}
</html>