{% extends "gaming/header.html" %}
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>You've been rickroled</title>
</head>
{% block content %}
<meta http-equiv="refresh" content="1; url='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" />
<body style="background: var(--bs-dark);">
    <h1 href="https://de.wikipedia.org/wiki/Rickrolling">You've been rickroled</h1>
</body>
{% endblock %}
</html>
