{% extends "gaming/header.html" %}
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>You've been rickroled</title>
</head>
{% block content %}
<body style="background: var(--bs-dark);">
    <h1 href="https://de.wikipedia.org/wiki/Rickrolling">You've been rickroled</h1>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
{% endblock %}
</html>
