{% extends "gaming/header.html" %}
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>usernames</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar-Right-Links-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
{% block content %}
<body style="color: var(--bs-blue);background: rgb(0,0,0);">
    <h1>Welcome to Usernames</h1>
    <p>Join the revolution of gaming today!</p>
    <p>Help us by clicking on this link</p>
    <a href="http://adfoc.us/76826984946942">Click here</a>
</body>
{% endblock %}
</html>